{% spaceless %}
  {% include 'sublayouts/header.twig' %}

  <h1>Viki Bell</h1>

  {% include 'sublayouts/post_loop.twig' %}
  {% include 'sublayouts/sidebar.twig' %}

  {% include 'sublayouts/footer.twig' %}
{% endspaceless %}