{% spaceless %}
  {% include 'sublayouts/header.twig' %}
  <ul>
    {% for topLevel in vars.sitemap %}
      <li>
        <a href="{{ topLevel.link }}">{{ topLevel.title }}</a>
        {% if topLevel.subLevel %}
          <ul>
            {% for subLevel in topLevel.subLevel %}
              <li><a href="{{ subLevel.link }}">{{ subLevel.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% include 'sublayouts/footer.twig' %}
  }
{% endspaceless %}