.Banner {  
  display: block;
  max-height: 350px;
  min-height: 200px;
  overflow: hidden;
  position: relative;

  &.Banner--backgroundImage {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &.Banner--image1 {
      background-image: url('/media/banner1.jpg');
    }

    &.Banner--image2 {
      background-image: url('/media/banner2.jpg');
    }

    &.Banner--image3 {
      background-image: url('/media/banner3.jpg');
    }
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 18%;
  }
}

.Banner-image {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .Banner--backgroundImage & {
    display: none;
  }
}
