$SiteNav--fontSize: 24px;
$SiteNav--mobileBreakpoint: 750px;
$SiteNav--mobilePadding: 20px;
$SiteNav-item--mobile--count: 3;
$SiteNav-item--mobile--width: 55px;
$SiteNav-item--width: 16.6666666%;
$SiteNav-link--padding: 18px;
$SiteNav-title--fontSize: 18px; 
$SiteNav-zIndex: 1;

.SiteNav {
  background: $blue;
  font-size: $SiteNav--fontSize;
  line-height: 1;
  text-align: center;
  z-index: $SiteNav-zIndex;

  @include mq($until: $SiteNav--mobileBreakpoint) {
    padding-left: $SiteNav--mobilePadding;
    padding-right: $SiteNav--mobilePadding;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
}

.SiteNav-list {
  @include mq($until: $SiteNav--mobileBreakpoint) {
    display: none;
  }
}

.SiteNav-item {
  float: left;
  position: relative;
  width: $SiteNav-item--width;
}

.SiteTitle {
  @include mq($until: $SiteNav--mobileBreakpoint) {
    text-align: left;
    width: calc(100% - (#{$SiteNav-item--mobile--width} * #{$SiteNav-item--mobile--count}));
  }

  .SiteNav-link {
    @include mq($until: $SiteNav--mobileBreakpoint) {
      display: inline-block;
    }
  }
}

.SiteNav-item--mobile {
  display: none;

  @include mq($until: $SiteNav--mobileBreakpoint) {
    display: block;
    text-align: right;
    width: $SiteNav-item--mobile--width;
  }
}

.SiteNav-link {
  display: block;
  padding: $SiteNav-link--padding 0;

  &:hover {
    .SiteNav-title {
      display: block;
    }

    .SiteNav-icon {
      display: none;
    }
  }
}

.SiteNav-icon,
.SiteNav-title {
  box-sizing: border-box;
  display: block;
  height: $SiteNav--fontSize;
}

.SiteNav-title {
  display: none;
  font-size: $SiteNav-title--fontSize;
  padding: (($SiteNav--fontSize - $SiteNav-title--fontSize) / 2) 0;
}

.SiteNav-subNav {
  @include SiteNav--borderProps;

  background: $blue;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  display: none;
  position: absolute;
  width: 100%;
  z-index: $SiteNav-zIndex + 1;

}

.SiteNav-subItem {  
  font-size: 1rem;
}
