// Colours
$blue: #6991ac;
$white: #fff;
$orange: #d75c37;
$black: #000;
$gray--light: #f5f5f5;
$blue-light: #6991ac;

// Modified colours
$gray: darken($gray--light, 10%);
$blue--dark: darken($blue, 30%);
$blue--darker: darken($blue, 40%);
$orange--dark: darken($orange, 20%);
$white--translucent: rgba($white, .2);

// Font sizes
$baseFontSize: 16px;

