<div class="Bunting">
  {% for buntingItem in global.bunting %}
    <div class="Bunting-item Bunting-item--colour{{ buntingItem.colour }}">
      {% for buntingDot in buntingItem.dots %}
        <div class="Bunting-dot Bunting-dot--{{ buntingDot }}"></div>
      {% endfor %}
    </div>
  {% endfor %}
</div>