    </main>
    <footer>
      <span>Site footer</span>
    </footer>
    <script src="{{ vars.config.javascripts.publicDir }}/{% if vars.config.environment.dev %}{{ vars.config.javascripts.main }}{% else %}{{ vars.config.javascripts.min }}{% endif %}"></script>
  </body>
</html>