<div class="TweetLoop">
    <header>
        <a class="TweetLoop-headerLink" target="_blank" href="http://twitter.com/Vikiibell">
            <i class="icon-twitter"></i>
            <span class="u-hide">Twitter</span>
        </a>
    </header>

    <div>
        <article class="Tweet">
            <header class="u-clearFix">             
                <a class="Tweet-dateLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <span class="Tweet-date">10 hours ago</span>
                </a>

                <a class="Tweet-imageLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <img class="Tweet-image" src="http://pbs.twimg.com/profile_images/661179331897593856/2zi234x8_normal.png">
                </a>

                <a class="Tweet-nameLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <b class="Tweet-name">Viki Bell</b>
                </a>

                <a class="Tweet-usernameLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <span class="Tweet-username">@Vikiibell</span>
                </a>
            </header>

            <div class="Tweet-content">Being a rebel and walking up both sides of <a href="http://twitter.com/hashtag/Holborn" target="_blank">#Holborn</a> tube escalators! <a href="http://twitter.com/hashtag/dontstopmenow" target="_blank">#dontstopmenow</a></div>
        </article>

        <article class="Tweet">
            <header class="u-clearFix">             
                <a class="Tweet-dateLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <span class="Tweet-date">10 hours ago</span>
                </a>

                <a class="Tweet-imageLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <img class="Tweet-image" src="http://pbs.twimg.com/profile_images/661179331897593856/2zi234x8_normal.png">
                </a>

                <a class="Tweet-nameLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <b class="Tweet-name">Viki Bell</b>
                </a>

                <a class="Tweet-usernameLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <span class="Tweet-username">@Vikiibell</span>
                </a>
            </header>

            <div class="Tweet-content">Being a rebel and walking up both sides of <a href="http://twitter.com/hashtag/Holborn" target="_blank">#Holborn</a> tube escalators! <a href="http://twitter.com/hashtag/dontstopmenow" target="_blank">#dontstopmenow</a></div>
        </article>

        <article class="Tweet">
            <header class="u-clearFix">             
                <a class="Tweet-dateLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <span class="Tweet-date">10 hours ago</span>
                </a>

                <a class="Tweet-imageLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <img class="Tweet-image" src="http://pbs.twimg.com/profile_images/661179331897593856/2zi234x8_normal.png">
                </a>

                <a class="Tweet-nameLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <b class="Tweet-name">Viki Bell</b>
                </a>

                <a class="Tweet-usernameLink" href="http://twitter.com/Vikiibell" target="_blank">
                    <span class="Tweet-username">@Vikiibell</span>
                </a>
            </header>

            <div class="Tweet-content">Being a rebel and walking up both sides of <a href="http://twitter.com/hashtag/Holborn" target="_blank">#Holborn</a> tube escalators! <a href="http://twitter.com/hashtag/dontstopmenow" target="_blank">#dontstopmenow</a></div>

            <a class="Tweet-contentImageLink" href=""><img class="Tweet-contentImage" src="http://pbs.twimg.com/tweet_video_thumb/ChhspmcWIAEhdpX.jpg"></a>
        </article>
    </div>

    <footer><a class="TweetLoop-follow" href="http://twitter.com/Vikiibell" target="_blank">Follow @vikibell</a></footer>
</div>